---
import Layout from "../layouts/Layout.astro";
import Container from "./Container.astro";
---

<Layout title="ApplicationPage">
  <div class="relative pt-36" id="app">
    <Container>
      <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
      </div>

      <div class="relative">
        <h1 class="text-[8vw] text-center font-bold text-gray-800 dark:text-white porscha-font">ERROR 404</h1>
        <p class="text-[2vw] text-center text-gray-600 dark:text-gray-300 mb-10">
          ✨Page not found please report to admin if there is a technical error.✨
        </p>
      </div>
    </Container>
  </div>
  <style>
    @font-face {
      font-family: '911-Porscha';
      src: url('/src/assets/fonts/911-Porscha.ttf') format('opentype');
      font-weight: normal;
      font-style: normal;
      -webkit-text-stroke: 0.3px transparent;
    }

    .porscha-font {
      font-family: '911-Porscha', sans-serif;
    }
  </style>
</Layout>