---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Documentation</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          📸You can get it by clicking the "GET DOCUMENT" link. Please wait a little longer to get the latest documentation link. 
          In progress.🦥📸
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://github.com/mukti-nux/Framer-asset/raw/refs/heads/main/dok%20present%20sd.avif"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Dok. Sekolah PresentSD
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Documentation of Presentation and Promotion activities to Elementary Schools
            </p>
            <a class="inline-block" href="https://seeker-project-vcl.vercel.app/index.html?id=DokSekolahPresenSD">
              <span class="text-info dark:text-blue-300">GET HERE</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://github.com/mukti-nux/Framer-asset/raw/refs/heads/main/dok%20sekolah02052025.avif"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Dok. Sekolah02052025
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Documentation of National Education Day Ceremony activities
            </p>
            <a class="inline-block" href="https://seeker-project-vcl.vercel.app/index.html?id=DokSekolah02052025">
              <span class="text-info dark:text-blue-300">GET HERE</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://github.com/mukti-nux/Framer-asset/raw/refs/heads/main/rNc2A2u3rROO8T1tzBuecFHzAnM.avif"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Dok.Sekolah 17052025
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Documentation of the BPK-RI Museum Magelang visit activities
            </p>
            <a class="inline-block" href="seeker-project-vcl.vercel.app/index.html?id=DokSekolah17052025">
              <span class="text-info dark:text-blue-300">GET HERE</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>