.video-wrapper {
  position: relative;
  width: 100%;
  max-height: 400px;
  border-radius: 1rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
  overflow: hidden;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.video-wrapper.left {
  transform: translateX(-100px);
}
.video-wrapper.right {
  transform: translateX(100px);
}
.video-wrapper.bottom {
  transform: translateY(100px);
}

.video-wrapper.active {
    opacity: 1;
    transform: translateY(0, 0);
}

