@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4f46e5;
  --color-secondary: #f97316;
  --color-info: #2563eb;
}

html, body {
  overflow-x: hidden;
}

/* Gunakan class-based dark mode langsung dengan Tailwind */
body {
  @apply bg-white text-black dark:bg-gray-950 dark:text-white;
}
